<a href="https://colab.research.google.com/github/lcbjrrr/quant/blob/master/BancoDados_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import sqlite3
con = sqlite3.connect("BD.db")

In [9]:
cur = con.cursor()
cur.execute("""
  CREATE TABLE cidades (
	nome text,
	populacao int,
	uf text
	);
  """)
cur.execute("INSERT INTO cidades (nome, populacao, uf) VALUES ( 'Recife',2111000, 'PE');")
con.commit()

In [10]:
res = cur.execute("SELECT * FROM cidades")
res.fetchall()

[('Recife', 2111000, 'PE')]

# Original

In [ ]:
!pip install pymysql

In [ ]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [ ]:
conexao = create_engine('mysql+pymysql://quanti43_user:Ibmec_2021@162.241.203.36/quanti43_camara')
df = pd.read_sql('SELECT * FROM camara', con=conexao)
df

  level_0 index  DATA  ... nuDeputadoId ideDocumento txNome
0          None  None  ...                             None

[1 rows x 35 columns]

In [ ]:
st = '<table>'
for row in df.values:
  st=st+'<tr>'
  for col in row:
    st=st+'<td>'+str(col)+'</td>'
  st=st+'</tr>'
st=st+'</table>'
st

'<table><tr><td>None</td><td>None</td><td>None</td><td>None</td><td>Danilson</td><td></td><td></td><td></td><td>SP</td><td>PPX</td><td></td><td></td><td>Mais Gastos</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></table>'

In [ ]:
%%html
<table><tr><td>None</td><td>Joazinho</td><td></td><td></td><td></td><td>SP</td><td>PPX</td><td></td><td></td><td>Mais Gastos</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td>None</td><td>Joazinho</td><td></td><td></td><td></td><td>SP</td><td>PPX</td><td></td><td></td><td>Mais Gastos</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></table>

In [ ]:
linha ={
'level_0':[''],
'txNomeParlamentar':['Manezinho'],
'ideCadastro':[''],
'nuCarteiraParlamentar':[''],
'nuLegislatura':[''],
'sgUF':['SP'],
'sgPartido':['PPX'],
'codLegislatura':[''],
'numSubCota':[''],
'txtDescricao':['Combustivel'],
'numEspecificacaoSubCota':[''],
'txtDescricaoEspecificacao':[''],
'txtFornecedor':[''],
'txtCNPJCPF':[''],
'txtNumero':[''],
'indTipoDocumento':[''],
'datEmissao':[''],
'vlrDocumento':['333'],
'vlrGlosa':[''],
'vlrLiquido':[''],
'numMes':[''],
'numAno':[''],
'numParcela':[''],
'txtPassageiro':[''],
'txtTrecho':[''],
'numLote':[''],
'numRessarcimento':[''],
'vlrRestituicao':[''],
'nuDeputadoId':[''],
'ideDocumento':['']
}

In [ ]:
df = df.append(pd.DataFrame(linha))
df

  level_0 index  DATA  ... nuDeputadoId ideDocumento txNome
0          None  None  ...                             None
0           NaN   NaN  ...                              NaN

[2 rows x 35 columns]

In [ ]:
db_connection_str = 'mysql+pymysql://quanti43_user:Ibmec_2021@162.241.203.36/quanti43_camara'
conexao = create_engine(db_connection_str)
df.to_sql('camara',con=conexao,if_exists="replace",index=False)

In [ ]:
db_connection_str = 'mysql+pymysql://quanti43_user:Ibmec_2021@162.241.203.36/quanti43_camara'
conexao = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM camara', con=conexao)
df

  level_0 index  DATA  ... nuDeputadoId ideDocumento txNome
0          None  None  ...                             None
1          None  None  ...                             None

[2 rows x 35 columns]