<a href="https://colab.research.google.com/github/lcbjrrr/quant/blob/master/IBMEC9_Apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Apriori**

In [1]:
#!pip install mlxtend

In [2]:
import pandas as pd
mercado = pd.read_csv('http://raw.githubusercontent.com/lcbjuk/ML/master/dados/mercado%20-%20ok.csv')
mercado.head()

   refri  batata  burger  donut  cafe
0      1       1       1      0     0
1      0       1       1      1     0
2      0       0       0      1     1
3      1       1       0      1     0
4      1       1       1      0     1

In [3]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

association_rules(apriori(mercado,min_support=0.5,use_colnames=True))

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(refri),(batata),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
1,(burger),(batata),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
2,"(burger, refri)",(batata),0.500000,0.833333,0.500000,1.0,1.2,0.083333,inf

**Exercicio Apriori**

In [4]:
cred = pd.read_csv('http://raw.githubusercontent.com/lcbjuk/ML/master/dados/RiscoCredito%20-%20okk.csv')
cred.describe()

       Inadimplente      Genero  GrauEscolaridade   Profissao       Renda
count    100.000000  100.000000        100.000000  100.000000  100.000000
mean       0.610000    1.340000          4.010000    4.550000    2.873110
std        0.490207    0.476095          1.672686    3.059593    1.756631
min        0.000000    1.000000          2.000000    1.000000    1.234000
25%        0.000000    1.000000          3.000000    2.000000    1.325000
50%        1.000000    1.000000          4.000000    3.000000    2.745000
75%        1.000000    2.000000          4.000000    8.000000    3.900000
max        1.000000    2.000000          8.000000    9.000000    7.200000

In [5]:
cred['Mulher']=cred['Genero'].map({1:0,2:1})
escolars = pd.get_dummies(cred['GrauEscolaridade'])
escolars.columns=['fund_incomp',	'fund_comp',	'medio_incomp',	'sup_incomp',	'sup_comp','auto_didata']
profs = pd.get_dummies(cred['Profissao'])
profs.columns=[	'vendedor',	'corretor',	'atendente',	'youtuber',	'programador']
cred=pd.concat([cred,escolars,profs],axis=1 )
cred['renda_alta'] = cred['Renda']>4000
cred=cred.drop(['Genero','GrauEscolaridade','Profissao','Renda'],axis=1)
cred.head(2)

,Inadimplente,Mulher,fund_incomp,fund_comp,medio_incomp,sup_incomp,sup_comp,auto_didata,vendedor,corretor,atendente,youtuber,programador,renda_alta
0,1,0,0,0,1,0,0,0,1,0,0,0,0,False
1,0,1,0,0,0,0,1,0,0,0,0,0,1,False

In [17]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
regras = association_rules(apriori(cred, min_support=0.25,use_colnames=True ))
regras

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(medio_incomp),(Inadimplente),0.43,0.61,0.43,1.0,1.639344,0.1677,inf
1,(atendente),(Inadimplente),0.27,0.61,0.27,1.0,1.639344,0.1053,inf
2,"(Mulher, Inadimplente)",(medio_incomp),0.27,0.43,0.27,1.0,2.325581,0.1539,inf
3,"(Mulher, medio_incomp)",(Inadimplente),0.27,0.61,0.27,1.0,1.639344,0.1053,inf

In [ ]:
#train = pd.read_csv( 'http://raw.githubusercontent.com/lcbjuk/ML/master/dados/RiscoCredito%20-%20hot_enc.csv')