<a href="https://colab.research.google.com/github/lcbjrrr/quant/blob/master/Introdu%C3%A7%C3%A3o_%C3%A0_Programa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ficha Técnica

Disciplina - Progamação e Machine Learning.

Conteúdo -

 - Operadores aritméticos.

 - Variáveis - Tipos de Dados.

 - Declarando e Chamando Funções.
  
 - Lendo do Teclado com input().


Autores:

 - Anderson Borba (anderson.aborba@professores.ibmec.edu.br) e

 - Luiz Barboza (luiz.cbjunior@professores.ibmec.edu.br).

Endereço eletrônico: http://quant-ibmec.group/python-e-ml/

#Olá Mundo

O primeiro programa de todo programador...

 
![ ](https://pbs.twimg.com/media/Egyb3BxXgAc_nr0?format=png&name=900x900)

In [ ]:
print('Ola Mundo!')

Ola Mundo!

#Operadores Aritiméticos

![ ](https://pbs.twimg.com/media/EgyjdlrXsAAbQRG?format=png&name=small)

# Operador Adição

In [ ]:
a = 5
b = 10
soma = a + b
print(soma)

15

# Operador Subtração

In [ ]:
a = 5
b = 10
dif = a - b
print(dif)

-5

# Operador Multiplicação

In [ ]:
a = 5
b = 10
mult = a * b
print(mult)

50

# Operador Divisão

In [ ]:
a = 5
b = 10
div = a / b
print(div)

0.5

# Operador Exponenciação

In [ ]:
a = 3
exp2 = a**2
exp3 = a**3
exp4 = a**4
print("exp2=",exp2)
print("exp3=",exp3)
print("exp4=",exp4)

exp2= 9
exp3= 27
exp4= 81

# Operador Módulo (Retorna o resto da divisão)

In [ ]:
a = 18
b = 2
mod1 = a % b
print("mod1", mod1)
#
a = 18
b = 3
mod2 = a % b
print("mod2", mod2)
#
b = 3
mod3 = a % b
print("mod3", mod3)
#
b = 4
mod4 = a % b
print("mod4", mod4)
#
b = 5
mod5 = a % b
print("mod5", mod5)
#
b = 6 
mod6 = a % b
print("mod6", mod6)

mod1 0
mod2 0
mod3 0
mod4 2
mod5 3
mod6 0

# Expressão aritmética

In [ ]:
(12+ 5*(3/2+(2**5 -13)/3))

51.166666666666664

#Variáveis - Tipos de Dados

Em Python os tipos são (quase sempre) implícitos.
Os tipos suportados são:

**int**: inteiro 	

**float**: ponto flutuante (num. decimal)

**bool**: booleano (True ou False)

**str**: string (texto)

In [ ]:
nota1 = 9 #int 
nota2 = 9.5 #float 
nome = 'Luiz' #string 
aprovado = (nota1>7) #bool
print(nome)
print(aprovado)

Luiz
True

#Declarando e Chamando Funções

***Declaração funções***:

use a palavra **def**

agrupando blocos de linhas de código com **“:”** e **tab**

para retornar o valor use a função **return()**

In [ ]:
def somar(x,y):
  s = x+y
  return s

***Chamada de funções*** 
use a função ***print***() para exibir o resultado

In [ ]:
r = somar(1,2)
print(r)

3

Cálculo do salário líquido

In [ ]:
salario_bruto = 4500
inss = 0.09
desconto_inss = salario_bruto * inss
salario_liquido = salario_bruto - desconto_inss

vale_transporte = salario_bruto * 0.02
salario_liquido = salario_bruto - desconto_inss - vale_transporte

print ("salario a receber:", salario_liquido)

salario a receber: 4005.0

Encapsulando em uma fucao

In [ ]:
def sal_liq(salario_bruto):
  inss = 0.09
  desconto_inss = salario_bruto * inss
  salario_liquido = salario_bruto - desconto_inss

  vale_transporte = salario_bruto * 0.02
  salario_liquido = salario_bruto - desconto_inss - vale_transporte

  return salario_liquido

sl = sal_liq(4500)
print(sl)

# Lendo do teclado com a funcao **input()**

In [ ]:
def sal_liq(salario_bruto):
  inss = 0.09
  desconto_inss = salario_bruto * inss
  salario_liquido = salario_bruto - desconto_inss

  vale_transporte = salario_bruto * 0.02
  salario_liquido = salario_bruto - desconto_inss - vale_transporte

  return salario_liquido

sb = input('Qual o salario bruto?')
sb = float(sb)
sl = sal_liq(sb)
print(sl)

Qual o salario bruto?4500
4005.0