<a href="https://colab.research.google.com/github/lcbjrrr/quant/blob/master/Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext rpy2.ipython

In [ ]:
%%R
print('OLA MUNDO')

[1] "OLA MUNDO"

In [ ]:
x=1
if (x==1):
  print('sim x eh 1')

sim x eh 1

In [ ]:
%%R
x <- 0
x = 2
if (x == 1){
    print('sim x eh 1')
}else{
    print('sim x NAO eh 1')
}

[1] "sim x NAO eh 1"

In [ ]:
def somar(x,y):
  s = x+y
  return s

r=somar(1,2)
print(r)

3

In [ ]:
 
somar <- function(x,y){
    s<-x+y
    return(s)
}

r<-somar(1,2)
print(r)

[1] 3

In [ ]:
%%R 
aprovacao <-function(nota, freq){
    if (nota>=7 & freq>=0.75){
        aprov <- "APROVADO"
    }else{
        aprov <- "REPROVADO"
    }
    return(aprov)
}
ze<-aprovacao(9,0.8)
print(ze)

[1] "APROVADO"

In [ ]:
%%R
media_turma <- function(){
    notas <- c(5,5,6,6,7,7,8,8,9,9)
    s<-0
    for (n in notas ){
      s<-s+n    
    }
    media<- s /10
    return(media)
}

m <- media_turma()
print(m)

[1] 7

In [ ]:
%%R
media_turma <- function(){
    notas <- c(5,5,6,6,7,7,8,8,9,9)
    s<-0
    for (i in 1:10 ){
      s <- s + notas[i]    
    }
    media<- s /10
    return(media)
}

m <- media_turma()
print(m)

[1] 7

In [ ]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/lcbjuk/IBMEC/master/notas_turma%20-%20final.csv')
df.head(2)

  Curso Alunos  AP1  AP2   AP3  Nota Conceito
0   ADM   João  9.0  8.0   9.0   8.6        B
1   ADM  Maria  6.0  4.0  10.0   6.0        D

In [ ]:
%%R
dados<-read.csv('https://raw.githubusercontent.com/lcbjuk/IBMEC/master/notas_turma%20-%20final.csv')
head(dados,2)

  Curso Alunos AP1 AP2 AP3 Nota Conceito
1   ADM   João   9   8   9  8.6        B
2   ADM  Maria   6   4  10  6.0        D

In [ ]:
%%R
media_por_curso <- tapply(dados$Nota,dados$Curso, mean)
media_por_curso

     ADM      DIR      ECO
6.966667 6.900000 7.950000

In [ ]:
%%R
nf<-dados$AP1 * 0.4 +dados$AP2 * 0.4+dados$AP3 * 0.2
print(nf)

 [1] 8.6 6.0 3.6 8.6 8.1 5.4 7.2 8.9 7.8 9.7 7.2 4.2

In [ ]:
from  google.colab import drive
drive.mount('/content/drive')
%%R
covid <- read.csv('/content/drive/My Drive/IBMEC/Data Viz/brazil_covid19.csv')
covid

Mounted at /content/drive

In [ ]:
import pandas as pd
cov=pd.read_csv('/content/drive/My Drive/IBMEC/Data Viz/brazil_covid19.csv')
cov.head(2)

         date        region state  cases  deaths
0  2020-02-25  Centro-Oeste    DF    0.0       0
1  2020-02-25  Centro-Oeste    GO    0.0       0

In [ ]:
%%R
covid <- read.csv('/content/drive/My Drive/IBMEC/Data Viz/brazil_covid19.csv')
covid