<a href="https://colab.research.google.com/github/lcbjrrr/quant/blob/master/Sumarizacaoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Py

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/lcbjrrr/quant/master/notas%20(2).csv')
df.head(2)

  Curso Alunos  AP1  AP2   AP3  Nota Conceito
0   ADM   João  9.0  8.0   9.0   8.6        B
1   ADM  Maria  6.0  4.0  10.0   6.0        D

In [3]:
media_por_curso = df.groupby('Curso').mean()['Nota']
media_por_curso

Curso
ADM    6.966667
DIR    6.900000
ECO    7.950000
Name: Nota, dtype: float64

In [4]:
nota_final = df['AP1'] * 0.4 + df['AP2'] * 0.4 + df['AP3'] * 0.2
nota_final

0     8.6
1     6.0
2     3.6
3     8.6
4     8.1
5     5.4
6     7.2
7     8.9
8     7.8
9     9.7
10    7.2
11    4.2
dtype: float64

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#import pandas as pd
#covid = pd.read_csv('/content/drive/My Drive/IBMEC/Data Viz/brazil_covid19.csv')
#covid

             date        region state      cases  deaths
0      2020-02-25  Centro-Oeste    DF        0.0       0
1      2020-02-25  Centro-Oeste    GO        0.0       0
2      2020-02-25  Centro-Oeste    MS        0.0       0
3      2020-02-25  Centro-Oeste    MT        0.0       0
4      2020-02-25      Nordeste    AL        0.0       0
...           ...           ...   ...        ...     ...
12253  2021-05-23       Sudeste    RJ   840480.0   49515
12254  2021-05-23       Sudeste    SP  3188105.0  107614
12255  2021-05-23           Sul    PR  1060683.0   25506
12256  2021-05-23           Sul    RS  1059990.0   27419
12257  2021-05-23           Sul    SC   947810.0   14822

[12258 rows x 5 columns]

In [ ]:
#covid['deaths'].sum()

69894323

# R

In [5]:
%load_ext rpy2.ipython

In [8]:
%%R
dados <-read.csv('https://raw.githubusercontent.com/lcbjrrr/quant/master/notas%20(2).csv')
head(dados,2)

  Curso Alunos AP1 AP2 AP3 Nota Conceito
1   ADM   João   9   8   9  8.6        B
2   ADM  Maria   6   4  10  6.0        D

In [9]:
%%R
tapply(dados$Nota, dados$Curso, mean)

     ADM      DIR      ECO
6.966667 6.900000 7.950000